code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  height: 100%;
  background-image: url('../src/bckg.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}